In [1]:
# Import Libraries and Dependencies
import pandas as pd

In [2]:
# Read the CSV files into DataFrames.
csv_path_2020 = 'Resources/athletic_sales_2020.csv'
csv_path_2021 = 'Resources/athletic_sales_2021.csv'

In [3]:
# Display the 2020 sales DataFrame
df_athletic_sales_2020 = pd.read_csv(csv_path_2020)
print(df_athletic_sales_2020)

         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
1292    West Gear      1128299     12/30/20       West    California
1293    West Gear      1128299     12/30/20       West    California
1294       Kohl's      1189833     12/30/20    Midwest     Minnesota
1295       Kohl's      1189833     12/30/20    Midwest     Minnesota
1296    West Gear      1128299     12/30/20       West    California

               city                  product  price_per_unit  units_sold  \
0          New York    Men's Street Footwear              50        1200
1      Philadelphia          Women's Apparel              68          83
2      Philadelphia          Women's Apparel              75         275
3          New York    Men's Street Footwear              34         384
4      Philadelphia          Women's Apparel              53          83
...             ...                      ...             ...         ...
1292  San Francisco          Women's Apparel              72         203
1293  San Francisco          Women's Apparel              80         700
1294    Minneapolis  Women's Street Footwear              41         119
1295    Minneapolis  Women's Street Footwear              45         475
1296  San Francisco          Women's Apparel              62         245

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
1292        14616           3946.32       Online
1293       560000          84000.00       Outlet
1294         4879           2878.61       Online
1295       213750          96187.50       Outlet
1296        15190           2886.10       Outlet

[1297 rows x 12 columns]

In [4]:
# Display the 2021 sales DataFrame
df_athletic_sales_2021 = pd.read_csv(csv_path_2021)
print(df_athletic_sales_2021)

         retailer  retailer_id invoice_date     region         state  \
0       West Gear      1128299       1/1/21       West    California
1       West Gear      1128299       1/1/21       West    California
2          Kohl's      1189833       1/1/21    Midwest       Montana
3          Kohl's      1189833       1/1/21    Midwest       Montana
4       West Gear      1128299       1/1/21       West    California
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

               city                  product  price_per_unit  units_sold  \
0     San Francisco  Men's Athletic Footwear              65         750
1     San Francisco  Men's Athletic Footwear              51         233
2          Billings            Men's Apparel              50         275
3          Billings            Men's Apparel              47          77
4     San Francisco  Men's Athletic Footwear              64         225
...             ...                      ...             ...         ...
8341   Philadelphia            Men's Apparel              63          47
8342   Philadelphia            Men's Apparel              46          56
8343       Portland            Men's Apparel              52          36
8344       Portland            Men's Apparel              55         125
8345   Philadelphia            Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          487500         121875.00       Outlet
1           11883           3208.41       Outlet
2          137500          82500.00       Outlet
3            3619           2714.25       Online
4           14400           5184.00       Online
...           ...               ...          ...
8341         2961           1362.06       Online
8342         2576           1004.64       Outlet
8343         1872            692.64       Online
8344        68750          17187.50       Outlet
8345       122500          42875.00       Outlet

[8346 rows x 12 columns]

#### Check the data types of each DataFrame

In [5]:
# Check the 2020 sales data types.
data_types_2020 = df_athletic_sales_2020.dtypes
print(data_types_2020)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [6]:
# Check the 2021 sales data types.
data_types_2021 = df_athletic_sales_2021.dtypes
print(data_types_2021)

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

#### Combine the sales data by rows.

In [7]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
combined_sales_df = pd.concat([df_athletic_sales_2020, df_athletic_sales_2021], ignore_index=True)
print("Combined DataFrame of 2020 and 2021 sales:")
print(combined_sales_df)

Combined DataFrame of 2020 and 2021 sales:
         retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9638  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9639  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
9640       Amazon      1185732     12/31/21  Northeast         Maine
9641       Amazon      1185732     12/31/21  Northeast         Maine
9642  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
9638  Philadelphia          Men's Apparel              63          47
9639  Philadelphia          Men's Apparel              46          56
9640      Portland          Men's Apparel              52          36
9641      Portland          Men's Apparel              55         125
9642  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method
0          600000         300000.00     In-store
1            5644           2426.92       Online
2          206250          61875.00       Outlet
3           13056           6789.12       Outlet
4            4399           1407.68       Outlet
...           ...               ...          ...
9638         2961           1362.06       Online
9639         2576           1004.64       Outlet
9640         1872            692.64       Online
9641        68750          17187.50       Outlet
9642       122500          42875.00       Outlet

[9643 rows x 12 columns]

In [8]:
# Check if any values are null.
null_values = combined_sales_df.isnull().any()
if null_values.any():
    print("Columns with null values:")
    print(null_values[null_values])
else:
    print("No null values found in the DataFrame.")

No null values found in the DataFrame.

In [9]:
# Check the data type of each column
combined_data_types = combined_sales_df.dtypes
print("Data types of each column:")
print(combined_data_types)

Data types of each column:
retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [10]:
# Convert the "invoice_date" to a datetime datatype
combined_sales_df['invoice_date'] = pd.to_datetime(combined_sales_df['invoice_date'])
print("Data types after conversion:")
print(combined_sales_df.dtypes)

Data types after conversion:
retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

/var/folders/sj/46t_7wwd1cqfczx_tnc7_vpm0000gn/T/ipykernel_38854/355177247.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  combined_sales_df['invoice_date'] = pd.to_datetime(combined_sales_df['invoice_date'])

In [11]:
# Confirm that the "invoice_date" data type has been changed.
combined_sales_df['invoice_date'] = pd.to_datetime(combined_sales_df['invoice_date'])
print("Data types after conversion:")
print(combined_sales_df.dtypes)

Data types after conversion:
retailer                    object
retailer_id                  int64
invoice_date        datetime64[ns]
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [12]:
# Show the number products sold for region, state, and city.
# Rename the sum to "Total_Products_Sold".
products_grouped_df = combined_sales_df.groupby(['region', 'state', 'city']).size().reset_index(name='Total_Products_Sold')

# Show the top 5 results.
products_top_5_results = products_grouped_df.sort_values(by='Total_Products_Sold', ascending=False).head(5)
print("Top 5 results - Number of products sold for region, state, and city:")
print(products_top_5_results)

Top 5 results - Number of products sold for region, state, and city:
       region      state           city  Total_Products_Sold
27      South   Arkansas    Little Rock                  216
40  Southeast   Virginia       Richmond                  216
32      South      Texas         Dallas                  216
31      South  Tennessee      Knoxville                  216
30      South   Oklahoma  Oklahoma City                  216

#### Using `pivot_table`

In [13]:
# Show the number products sold for region, state, and city.
products_pivot_table = pd.pivot_table(combined_sales_df, 
                             values='units_sold', 
                             index=['region', 'state', 'city'], 
                             aggfunc='sum')

# Rename the "units_sold" column to "Total_Products_Sold"
pivot_table = products_pivot_table.rename(columns={'units_sold': 'Total_Products_Sold'})

# Show the top 5 results.
top_5_results = pivot_table.sort_values(by='Total_Products_Sold', ascending=False).head(5)
print("Top 5 results - Number of products sold for region, state, and city:")
print(top_5_results)

Top 5 results - Number of products sold for region, state, and city:
                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [14]:
# Show the total sales for the products sold for each region, state, and city.
# Rename the "total_sales" column to "Total Sales"
units_sold_df = combined_sales_df.groupby(['region', 'state', 'city'])['total_sales'].sum().reset_index(name='Total Sales')

# Show the top 5 results.
top_5_sales = units_sold_df.nlargest(5, 'Total Sales')
print("Total sales for products sold in each region, state, and city:")
print(top_5_sales)

Total sales for products sold in each region, state, and city:
       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

#### Using `pivot_table`

In [15]:
# Show the total sales for the products sold for each region, state, and city.
pivot_df = pd.pivot_table(combined_sales_df, values='total_sales', 
                          index=['region', 'state', 'city'], 
                          aggfunc='sum').reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_df = pivot_df.rename(columns={'total_sales': 'Total Sales'})

# Show the top 5 results.
top_5_sales = pivot_df.nlargest(5, 'Total Sales')
print(top_5_sales)

       region           state           city  Total Sales
21  Northeast        New York       New York     39801235
44       West      California  San Francisco     33973228
34  Southeast         Florida          Miami     31600863
39  Southeast  South Carolina     Charleston     29285637
35  Southeast         Florida        Orlando     27682851

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [16]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"
grouped_sales = combined_sales_df.groupby(['retailer', 'region', 'state', 'city'])['total_sales'].sum().reset_index()
grouped_sales = grouped_sales.rename(columns={'total_sales': 'Total Sales'})

# Show the top 5 results.
top_5_sales = grouped_sales.nlargest(5, 'Total Sales')
print(top_5_sales)

        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

#### Using `pivot_table`

In [17]:
# Show the total sales for the products sold for each retailer, region, state, and city.
pivot_df = pd.pivot_table(combined_sales_df, 
                          values='total_sales', 
                          index=['retailer', 'region', 'state', 'city'], 
                          aggfunc='sum').reset_index()

# Optional: Rename the "total_sales" column to "Total Sales"
pivot_df = pivot_df.rename(columns={'total_sales': 'Total Sales'})

# Show the top 5 results.
top_5_sales = pivot_df.nlargest(5, 'Total Sales')
print(top_5_sales)

        retailer     region           state           city  Total Sales
103    West Gear       West      California  San Francisco     32794405
50        Kohl's       West      California    Los Angeles     25127160
22   Foot Locker  Northeast        New York       New York     25008568
109    West Gear       West      Washington        Seattle     24862675
33   Foot Locker  Southeast  South Carolina     Charleston     24822280

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [18]:
# Filter the sales data to get the women's athletic footwear sales data.
womens_athletic_footwear_sales = combined_sales_df[combined_sales_df['product'].str.contains("Women's Athletic Footwear")]
print(womens_athletic_footwear_sales)

         retailer  retailer_id invoice_date     region         state  \
21    Foot Locker      1185732   2020-01-04  Northeast      New York
22    Foot Locker      1185732   2020-01-04  Northeast      New York
23    Foot Locker      1185732   2020-01-04  Northeast      New York
26      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
27      West Gear      1128299   2020-01-05  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
9633  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9634  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania
9635       Amazon      1185732   2021-12-30  Northeast         Maine
9636       Amazon      1185732   2021-12-30  Northeast         Maine
9637  Foot Locker      1185732   2021-12-30  Northeast  Pennsylvania

              city                    product  price_per_unit  units_sold  \
21        New York  Women's Athletic Footwear              36         281
22        New York  Women's Athletic Footwear              41         247
23        New York  Women's Athletic Footwear              45         850
26    Philadelphia  Women's Athletic Footwear              45         300
27    Philadelphia  Women's Athletic Footwear              34          90
...            ...                        ...             ...         ...
9633  Philadelphia  Women's Athletic Footwear              57          53
9634  Philadelphia  Women's Athletic Footwear              40          53
9635      Portland  Women's Athletic Footwear              42          36
9636      Portland  Women's Athletic Footwear              45         125
9637  Philadelphia  Women's Athletic Footwear              60         175

      total_sales  operating_profit sales_method
21          10116           3742.92       Outlet
22          10127           4658.42       Online
23         382500         133875.00     In-store
26         135000          47250.00       Outlet
27           3060           1254.60       Outlet
...           ...               ...          ...
9633         3021           1601.13       Online
9634         2120            954.00       Outlet
9635         1512            680.40       Online
9636        56250          16875.00       Outlet
9637       105000          42000.00       Outlet

[1604 rows x 12 columns]

#### Using `groupby`

In [19]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
grouped_sales = womens_athletic_footwear_sales.groupby(['retailer', 'region', 'state', 'city'])['units_sold'].sum().reset_index()
grouped_sales = grouped_sales.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})

# Show the top 5 results.
top_5_results = grouped_sales.nlargest(5, 'Womens_Footwear_Units_Sold')
print(top_5_results)

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

#### Using `pivot_table`

In [20]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
pivot_df = pd.pivot_table(womens_athletic_footwear_sales, 
                          values='units_sold', 
                          index=['retailer', 'region', 'state', 'city'], 
                          aggfunc='sum').reset_index()

# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"
pivot_df = pivot_df.rename(columns={'units_sold': 'Womens_Footwear_Units_Sold'})

# Show the top 5 results.
top_5_results = pivot_df.nlargest(5, 'Womens_Footwear_Units_Sold')
print(top_5_results)

          retailer     region           state           city  \
101      West Gear       West      California  San Francisco
22     Foot Locker  Northeast        New York       New York
49          Kohl's       West      California    Los Angeles
33     Foot Locker  Southeast  South Carolina     Charleston
68   Sports Direct      South           Texas         Dallas

     Womens_Footwear_Units_Sold
101                       12107
22                        10996
49                        10826
33                         8814
68                         8790

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [21]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.
womens_athletic_footwear_sales.loc[:, 'invoice_date'] = pd.to_datetime(womens_athletic_footwear_sales['invoice_date'])
pivot_df = pd.pivot_table(womens_athletic_footwear_sales, 
                          values='total_sales', 
                          index='invoice_date', 
                          aggfunc='sum')



# Optional: Rename the "total_sales" column to "Total Sales"
pivot_df = pivot_df.rename(columns={'total_sales': 'Total Sales'})

# Show the table.
top_10_sales = pivot_df.sort_values(by='Total Sales', ascending=False).head(10)
print(top_10_sales)

              Total Sales
invoice_date
2021-07-16        1521825
2021-12-16        1473497
2021-06-17        1376988
2021-08-17        1086294
2021-07-23        1021806
2021-11-17        1021145
2021-12-09         915011
2021-06-24         884238
2021-07-09         869054
2021-08-10         839120

In [22]:
# Resample the pivot table into daily bins, and get the total sales for each day.
daily_sales = pivot_df.resample('D').sum()

# Sort the resampled pivot table in descending order on "Total Sales".
daily_sales = daily_sales.rename(columns={'total_sales': 'Total Sales'})
top_10_days = daily_sales.sort_values(by='Total Sales', ascending=False).head(10)
print(top_10_days)

              Total Sales
invoice_date
2021-07-16        1521825
2021-12-16        1473497
2021-06-17        1376988
2021-08-17        1086294
2021-07-23        1021806
2021-11-17        1021145
2021-12-09         915011
2021-06-24         884238
2021-07-09         869054
2021-08-10         839120

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [23]:
# Resample the pivot table into weekly bins, and get the total sales for each week.
weekly_sales = pivot_df.resample('W').sum()

# Sort the resampled pivot table in descending order on "Total Sales".
weekly_sales = weekly_sales.rename(columns={'total_sales': 'Total Sales'})
weekly_sales_sorted = weekly_sales.sort_values(by='Total Sales', ascending=False)
top_10_weeks = weekly_sales_sorted.head(10)
print(top_10_weeks)

              Total Sales
invoice_date
2021-12-19        3098970
2021-12-12        2922161
2021-07-11        2835078
2021-07-18        2801449
2021-11-14        2531721
2021-08-22        2491259
2021-08-15        2463941
2021-11-21        2449537
2021-05-16        2422132
2021-06-13        2358602